
.header{
    margin: 0;

        font-family: Arial, Futura, sans-serif;
  
        width: 100vw;
    height: 100vh;
  
        background:url('http://traversymedia.com/downloads/assets/beachshowcase.jpg') center no-repeat;
   
        background-size: cover;
    color:#926239 ;
}



.greeting_box{
 
   margin:0 auto;

    padding: 40vh 20vw;
 
   text-align: center;
}


.welcome{text-align: center; }



.btn {
      display: block;

     margin: 0 auto;
 
      padding: 4px 0;

      width: 12vw;
  
      height: 3vh;
  
      color:#926239;
 
      text-decoration: none;
    
      border: 1px solid #926239;
  
      border-radius: 5px;}



.btn:hover{
  
          background-color:#926239;
 
         color:white;
}



body {
   
   margin: 0;
 
   padding: 0;
 
   width: 100vw;
}



article{margin: 0;

       padding: 0;
 
      font-family: Arial, Futura, sans-serif;
  
      font-size: 16px;
  
       width: 100%;
 
     color:#926239;
  
    }


article>p{margin:0;
 
   padding: 8px 8px 8px 8px ; }



.three_blocks{
 
   display: inline-block;

    box-sizing: border-box;
 
   text-align: left;
   
 width: 33.333%;
   }



.brown{
 background-color:#926239;
 
   color:white;
}